.composition {
  position: relative;

  &__photo {
    width: 55%; // use percentages for flexible images
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute; /* elements placed according to reference .composition (position: relative;) */
    z-index: 10;
    transition: all .2s;

    // green box
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem; // move upwards
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;

      // green box
      outline: 1.5rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
  // .composition:hover composition__photo:not(:hover)
}