body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden; /* prevent animation shakiness */
  margin-bottom: 6rem; /* moves Discover our tours button down */

  &--main {
    display: block; /* occupy entire width available and create line breaks before and after them */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft; /* specify animation name */
    animation-duration: 1s; /* specify animation duration */
    animation-timing-function: ease-out; /* start faster, end slower */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }

    /*
    animation-delay: 3s; time before animation plays
    animation-iteration-count: 3;
    */
  }

  &--sub {
    display: block; /* occupy entire width available and create line breaks before and after them */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /*animation-name: moveInRight;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-out;*/
    animation: moveInRight 1s ease-out; /* shorthand */

    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; // prevent element from taking up full width
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark); // linear gradient background
  -webkit-background-clip: text; // background image only visible where text is
  color: transparent; // set text to transparent to see background linear-gradient
  transition: all .2s; // apply transitions
  letter-spacing: 2px; // pixels over rem because 2px is so small anyway

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) { // all but last child
    margin-bottom: 3rem;
  }
}