.body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem; /* white border around entire page */
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden; /* prevent animation shakiness */
  margin-bottom: 6rem; /* moves Discover our tours button down */

  &--main {
    display: block; /* occupy entire width available and create line breaks before and after them */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft; /* specify animation name */
    animation-duration: 1s; /* specify animation duration */
    animation-timing-function: ease-out; /* start faster, end slower */


    /*
    animation-delay: 3s; time before animation plays
    animation-iteration-count: 3;

    */
  }

  &--sub {
    display: block; /* occupy entire width available and create line breaks before and after them */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;

    /*animation-name: moveInRight;*/
    /*animation-duration: 1s;*/
    /*animation-timing-function: ease-out;*/
    animation: moveInRight 1s ease-out; /* shorthand */
  }
}
